---
import ModeToggle from "@/components/mode-toggle.astro";
import NavLinks from "./nav-links.astro";
import LanguageSwitch from "../language-switch.astro";
import type { Links } from "@/lib/constants/i18n";

interface Props {
  className?: string;
  text: Links;
}

const { className, text } = Astro.props;
---

<nav
  class:list={[
    "screen-line-after sticky top-0 z-50 w-full bg-background/95 backdrop-blur supports-[backdrop-filter]:bg-background/60",
    className,
  ]}
>
  <div
    class="mx-auto flex max-w-3xl items-center justify-between px-4 py-1 md:border-x"
  >
    <a href="/" class="flex-shrink-0">
      <h1 class="text-xl font-bold">ansurfen</h1>
    </a>

    <div class="flex items-center gap-3">
      <NavLinks text={text} />
      <div class="flex items-center gap-1">
        <LanguageSwitch />
        <ModeToggle />
      </div>
    </div>
  </div>
</nav>
